.rects1 {
  color:blue;
}

.rects2 {
  fill: red;
}

.rects3 {
  fill: green;
}

.rects4 {
  fill: SlateBlue;
}

.rects5 {
  fill: Teal;
}

.rects6 {
  fill: Violet;
}

.rects7 {
  fill: silver;
}

.rects8 {
  fill: Tomato;
}

.rects9 {
  fill: SpringGreen;
}

.rects10 {
  fill: gold;
}

.rects11 {
  fill: black;
}
