.rects1 {
  color:blue;
}

.rects2 {
  fill: red;
}

.rects3 {
  fill: green;
}

.rects4 {
  fill: SlateBlue;
}

.rects5 {
  fill: Teal;
}

.rects6 {
  fill: Violet;
}

.rects7 {
  fill: silver;
}

.rects8 {
  fill: Tomato;
}

.rects9 {
  fill: SpringGreen;
}

.rects10 {
  fill: gold;
}

.rects11 {
  fill: black;
}

.tooltip {
  display: none;
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 8px;
  font: 15px sans-serif;
  background: rgb(200,200,200);
  pointer-events: none;
}
